@use '@carbon/react';

.button--arrow {
    position: absolute;
    right: 1rem;
    width: 1rem;
    height: 1rem;
    flexShrink: 0;
}

.heading {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0;
    color: #161616;
}
